POSTGRES_USER=c3d
POSTGRES_PASSWORD=changeme_strong_password_here
POSTGRES_DB=c3d_stl

JWT_SECRET=changeme_64char_random_secret_here

ADMIN_USERNAME=hcorbage
ADMIN_PASSWORD=changeme_admin_password_here

STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
